<div *ngIf="isLoggedIn" class="edit-form-container">
    <form (ngSubmit)="saveChanges()">
      <!-- Campo para el código del especialista -->
      <div class="form-group">
        <label for="code">Código:</label>
        <input
          [(ngModel)]="specialist.Code"
          name="code"
          required
          class="form-control"
        />
      </div>
  
      <!-- Campo para el nombre del especialista -->
      <div class="form-group">
        <label for="firstName">Nombre:</label>
        <input
          [(ngModel)]="specialist.FirstName"
          name="firstName"
          required
          class="form-control"
        />
      </div>
  
      <!-- Campo para el apellido del especialista -->
      <div class="form-group">
        <label for="lastName">Apellido:</label>
        <input
          [(ngModel)]="specialist.LastName"
          name="lastName"
          required
          class="form-control"
        />
      </div>
  
      <!-- Campo para la contraseña del especialista -->
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input
          type="password"
          [(ngModel)]="specialist.Password"
          name="password"
          required
          class="form-control"
        />
      </div>
  
      <!-- Campo para la fecha de nacimiento del especialista -->
      <div class="form-group">
        <label for="birthDate">Fecha de nacimiento:</label>
        <input
          type="date"
          [(ngModel)]="specialist.BirthDate"
          name="birthDate"
          required
          class="form-control"
        />
      </div>
  
      <!-- Campo para la especialidad del especialista (solo lectura) -->
      <div class="form-group">
        <label for="especiality">Especialidad:</label>
        <select [(ngModel)]="specialist.Especiality" name="specialist" class="form-control">
          <option *ngFor="let especiality of allEspecialities" [value]="especiality.Name">
            {{ especiality.Name }}
          </option>
        </select>
      </div>
  
      <!-- Campo para la eficiencia del especialista -->
      <div class="form-group">
        <label for="efficiency">Eficiencia (%):</label>
        <input
          type="number"
          [(ngModel)]="specialist.Efficiency"
          name="efficiency"
          required
          class="form-control"
          min="0"
          max="100"
        />
      </div>
  
      <!-- Botón para guardar los cambios -->
      <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
  </div>
  
  <div *ngIf="!isLoggedIn" class="alert alert-warning">
    <p>No tienes permiso para ver esta página. Por favor, inicia sesión.</p>
  </div>
  