<p>advisor works! list</p>
<div class="container mt-5">
    <div class="d-flex flex-wrap">
      <div class="card m-2" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a data-bs-toggle="modal" data-bs-target="#exampleModal" href="#" class="btn btn-primary">Reservar</a>
        </div>
      </div>
      <div class="card m-2" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a data-bs-toggle="modal" data-bs-target="#exampleModal" href="#" class="btn btn-primary">Reservar</a>
        </div>
      </div>
      <div class="card m-2" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a data-bs-toggle="modal" data-bs-target="#exampleModal" href="#" class="btn btn-primary">Reservar</a>
        </div>
      </div>
      <div class="card m-2" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a data-bs-toggle="modal" data-bs-target="#exampleModal" href="#" class="btn btn-primary">Reservar</a>
        </div>
      </div>
      <div class="card m-2" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a data-bs-toggle="modal" data-bs-target="#exampleModal" href="#" class="btn btn-primary">Reservar</a>
        </div>
      </div>
      <div class="card m-2" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a data-bs-toggle="modal" data-bs-target="#exampleModal" href="#" class="btn btn-primary">Reservar</a>
        </div>
      </div>
      <div class="card m-2" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a data-bs-toggle="modal" data-bs-target="#exampleModal" href="#" class="btn btn-primary">Reservar</a>
        </div>
      </div>
      <div class="card m-2" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a data-bs-toggle="modal" data-bs-target="#exampleModal" href="#" class="btn btn-primary">Reservar</a>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Horarios Disponibles</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex flex-column align-items-center">
          <button type="button" class="btn btn-secondary mb-2" data-bs-dismiss="modal">Hora</button>
          <button type="button" class="btn btn-secondary mb-2" data-bs-dismiss="modal">Hora</button>
          <button type="button" class="btn btn-secondary mb-2" data-bs-dismiss="modal">Hora</button>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>


